<div class="form-wrapper">
   <form [formGroup]="step1Form" class="step-form">
      <mat-form-field>
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field>
         <mat-label>Password</mat-label>
         <input matInput formControlName="password">
      </mat-form-field>

      <mat-form-field>
         <mat-label>Confirm Password</mat-label>
         <input matInput formControlName="confirmPassword">
      </mat-form-field>
      <button mat-raised-button [disabled]="step1Form.invalid" (click)="next()">Next</button>
   </form>
</div>