<form [formGroup]="form">
   <mat-form-field>
      <mat-label>Industry</mat-label>
      <mat-select formControlName="industry">
         @for (industry of industries; track industry) {
         <mat-option [value]="industry">{{ industry }}</mat-option>
         }
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <input matInput type="number" formControlName="experienceInYears" placeholder="Experience (years)" min="0"
         max="50">
   </mat-form-field>

   <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="yourRole">
         @for (role of roles; track role) {
         <mat-option [value]="role">{{ role }}</mat-option>
         }
      </mat-select>
   </mat-form-field>

   <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="form.invalid">
      Continue
   </button>
</form>